<h1>Wordle</h1>

<h2>DEBUG: <%= @game.word.word %></h2>

<h2>Guesses</h2>

<div id="word-field">
  <% @game.guesses.each do |guess| %>
    <% guess.attempt.split('').each_with_index do |letter, index|
      letter_feedback = guess.feedback.split('')[index]
    %>
      <% status_class = 'correct' %>
      <div id="letter" class="status-<%= status_class %>">
        <%= letter %>
        <%= letter_feedback %>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with url: "/play/#{@game.uuid}", method: :post do |form| %>
  <%= form.label :guess, "Your next guess:" %>
  <%= form.text_field :guess %>
  <%= form.submit "Guess" %>
<% end %>